.kg-container{
    margin: 10px;
    /* text-align: left; */
   
}
.item-container{
    margin-top: 20px;
}
/* .sr-container{
    margin: 10px;
}  */

/* input{
    width: 100%;
} */
.kg-button{
    min-width: 80px;
}
.todo-container{
    min-width: 300px;
}